<%- include("partials/head") -%> 

<%- include("partials/component/main_c") -%> 


<div class="heading">
    <h2>Welcome to TK enterprise</h2>

    <p>Your search is finally over If you are a vendor or consumer, we ensure our customers get the best product from the vendor without fraudulent activities or selling fake products, you can return your order within 7days if you're not satisfied with the product and you may get 50% back and keep the product, authenticity is what we do 
</p>

<h2>Secure vendor</h2>

<p>if you are a vendor and need help promoting and selling your product on a global level you are in the right place we offer many services without any subscription or paying to view your products and we ensure that to offer premium service to all of our customers 
</p>
</div>

</body>
</html>