<div class="main">

    <div class="landing1">
        <!-- <div class="land1"> -->
            <img src="img/kk.jpeg" alt="">
        <!-- </div> -->
    </div>      
    
    <div class="landing2">
        <div class="land2">
            <img src="img/kk.jpeg" alt="" >
        </div>
        <div class="land3">
            <img src="img/kk.jpeg" alt="" >
        </div>

    </div>
</div>